.receipt-desc {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.receipt-title {
    display: flex;
    flex-direction: column;
}

.receipt-cost {
    margin: 40px 0;
}

.receipt-position {
    display: flex;
    flex-direction: column;
}
