.flex-container-column{
    display: flex;
    flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.receipt-price {
  justify-content: space-between;
}

.receipt-calculation::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: chocolate;
  position: absolute;
}

.receipt-cost {
    margin: 40px 0;
}

