.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.receipt-container {
  margin: 0 auto;
  width: 800px;
}

.receipt-body {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/jj-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  .receipt-desc {
    justify-content: flex-end;
    color: #fefefe;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
    width: 50%;
  }
  .receipt-details {
    background-color: #fefefe;
    width: 50%;
    padding-left: 10px;
    &-title {
      margin: 25px 0;
    }
    .receipt-price {
      justify-content: space-between;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
  .receipt-calculation::after {
    content: '';
    width: 100%;
    height: 0.5px;
    background-color: chocolate;
    position: absolute;
  }
  .receipt-form {
    &-title {
      margin-top: 20px;
      margin-bottom: 10px;
    }

  .receipt-button {
    background: orangered;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fefefe;
    margin: 10px 0;
  }

  }

  .receipt-form-tip {
    padding-left: 5px;
  }
  .receipt-form-tip::before {
    content: '\f023';
    position: absolute;
  }

  .creditcard {
    align-items: flex-end;
  }

  .receipt-cost {
    margin: 20px 0;
  }

  .select-field {
    height: 50px;
    justify-content: space-around;

    &-body {
      text-indent: 1px;
      appearance: none;
      border: none;
      background: transparent;
      border-bottom: 1px solid chocolate;
  }
}

  .input-field {
    justify-content: space-around;
    height: 50px;
    &-box {
      border: none;
      border-bottom: 1px solid chocolate;
    }
  }

  .row-1 {
    flex-grow: 1;
    flex-basis: 0;
  }
}
