.login-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-image: url('https://picsum.photos/1400/795');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-modal {
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f3640;
  border-radius: 5px;
}

.login-panel input {
  font-size: 15px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  color: #fefefe;
}

.login-panel input:focus ~ label{
  opacity: 1;
}

.login-panel {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-panel li {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 5px;
  border-bottom: 1px solid #524a51;
  margin-bottom: 10px;
}

.login-panel label {
  color: #fefefe;
  opacity: 0.3;
}

.login-panel input:focus + label {
  transition: 0.5s ease;
  opacity: 1;
}

.login-panel li:last-child {
  margin-bottom: 15px;
}

.login-button {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 2px;
  background-color: #de4137;
  color: #fafbfc;
  border: none;
  width: 100%;
  transition: all .2s ease-in-out;
}

.login-button:hover {
  transform: scale(1.02);
}

.login-button:active {
  transform: scale(0.99);
}
